
body{
    background: url(../images/login-bg.png) center center no-repeat;
    background-size: 800px;
}

.link-box{
    width: 80%;
    margin: -10px auto 10px;
}

.link-box .base-link:last-child{text-align: right;}

